<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1032477932125-1ipgrph04iget30knjjugfoufpa52apv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032477932125-1ipgrph04iget30knjjugfoufpa52apv</string>
	<key>API_KEY</key>
	<string>AIzaSyCrFf90Afwoh7AFA2csJZtXlziUHKuicnY</string>
	<key>GCM_SENDER_ID</key>
	<string>1032477932125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YimingPan.UI-Design</string>
	<key>PROJECT_ID</key>
	<string>login-2d720</string>
	<key>STORAGE_BUCKET</key>
	<string>login-2d720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032477932125:ios:38542ee827516f2a</string>
	<key>DATABASE_URL</key>
	<string>https://login-2d720.firebaseio.com</string>
</dict>
</plist>